<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
</head>
<body>
    <h1>ようこそ、Pythonの世界へ！</h1>
    <p>今の気分は； {{emotion}}</p>

    <h2>修得スキル一覧</h2>
    <ul>
        {% for skill in skills %}
            <li>{{skill}}</li>
        {% endfor %}
    </ul>

    <hr><h2>ユーザーページへ移動</h2>
    <form action = "/receive_name" method = "POST">
    <p>名前を入れてね：</p>

    <input type="text" name="my_name" placeholder="例：Gemini">
    <input type = "submit" value = "送信!">

    </form>

    <hr>
    <h2>データベース登録者リスト</h2>
    <ul>
        {% for user in users %}
            <li>ID : {{user.id}} / {{user.username}}</li>
        {% endfor %}
    </ul>


</body>
</html>